numpy
pandas
matplotlib
seaborn
scikit-learn
sklearn
tqdm
click
setuptools
imbalanced-learn
bokeh
Flask
h5py
nltk
opencv-python
opencv-contrib-python
face_recognition
pillow
pytesseract
pdf2image
pyodbc
requests
scipy
tensorflow
importlib
